<nav>
  <h1 id="title">Eat Da Burger</h1>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          {{#each burgers}}
          {{#unless devoured}}
          <div class="burgers my-3">
            {{burger_name}}
            <button class="btn btn-danger change-state" data-devoured="false" id="{{id}}">Devour Burger!</button>
          </div>
          {{/unless}}
          {{/each}}
        </div>
        <div class="col-md-4" id="center-col">
          <div class="row">
            <div class="col-md-12">
              <img src="./assets/img/burger.jpeg" alt="burger" id="burger">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form action="#">
                <textarea name="newBurger" id="newBurger" cols="30" rows="5"></textarea>
                <button class="btn btn-success" id="addBurger">Add Burger!</button>
              </form>
            </div>

          </div>


        </div>
        <div class="col-md-4">
          {{#each burgers}}
          {{#if devoured}}
          <div class="burgers my-3">
            {{burger_name}}
            <button class="btn btn-success change-state" data-devoured="true" id="{{id}}">Make Another!</button>
          </div>
          {{/if}}
          {{/each}}
        </div>


      </div>
    </div>

  </div>
</div>